* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: rgba(36, 7, 1, 0.897);
}

#container {
    width: 100%;
    margin: 0 auto;
}